#env-alert{
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;

    position: fixed;

    clip-path: inset(0 -100%);

    z-index: 9999;
}

#env-alert.left
{
    inset: 0 auto auto 0;
    transform-origin: 100% 0;
    transform: translate(-29.3%) rotate(-45deg);
}

#env-alert.right
{
    inset: 0 0 auto auto;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
}

